{% extends "mainfiles/base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/tasks.css">
</head>

<a class="tasks_text">Games</a>

<div>
    <div class="Task" onclick="window.location.href = '/minesweeper'">
        <div class='main'>
            <img class='taskImage' src="static/img/saper.jpg" alt="Логотип Сапёра не нашёлся(">
            <h2>Сапёр</h2>
            <div class="taskInfo">
            </div>
            <hr>
            <div class='creator'>
                <p></p>
            </div>
        </div>
    </div>
    <div class="Task" onclick="window.location.href = '/bulls_and_cows'">
        <div class='main'>
            <img class='taskImage' src="static/img/b_a_c.png" alt="Логотип игры быки и коры не нашёлся(">
            <h2>Быки и коровы</h2>
            <hr>
            <div class='creator'>
                <p></p>
            </div>
        </div>
    </div>
    <div class="Task" onclick="window.location.href = '/catch_a_cat'">
        <div class='main'>
            <img class='taskImage' src="static/img/catch_the_cat.jpg" alt="Логотип игры поймай кота не нашёлся(">
            <h2>Поймай кота</h2>
            <hr>
            <div class='creator'>
                <p></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}