body {
  font-family: Arial, sans-serif;
  --bg_color: #373535;
  --text_color: #ffffff;
  --invite_bg_color: #00000020;
  --flag_bg_color: #858a93;
}

body.light-theme {
  --bg_color: #ffffff;
  --text_color: #000000;
  --invite_bg_color: #d2d2d2;
  --flag_bg_color: #ffffff;
}

body.dark-theme {
  --bg_color: #373535;
  --text_color: #ffffff;
  --invite_bg_color: #00000020;
  --flag_bg_color: #858a93;
}

.menu {
  z-index: 1;
  position: flex;
  height: 55px;
  width: 100%;
  background: var(--bg_color);
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.invite {
  position: flex;
  font-size: 25px;
  margin-left: 10px;
  padding: 0.5%;
  color: var(--text_color);
  background-color: var(--invite_bg_color);
}

.fisrt_part {
  width: 45.5%;
  margin: 0 0.5%;
}

.name_of_command {
  position: flex;
  font-size: 25px;
  margin-left: 10px;
  padding: 1%;
  height: 10%;
  color: var(--text_color);
  background-color: var(--invite_bg_color);
}

.rating {
  position: flex;
  margin-left: 20px;
  color: var(--text_color);
}

.tasks {
  position: flex;
  margin-left: 20px;
  color: var(--text_color);
}

.second_part {
  width: 10%;
}

.rating_num {
  position: flex;
  font-size: 20px;
  color: var(--text_color);
  background-color: var(--invite_bg_color);
  padding: 1%;
  cursor: pointer;
  border: 0;
}

.third_part {
  width: 30%
}

.input_flag {
  position: flex;
  width: 80%;
  height: 5%;
  border: 1px solid #ffffff22;
  background: var(--flag_bg_color);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
}

.button_try {
  position: flex;
  height: 3.25%;
  font-size: 17px;
  margin-left: 20px;
  vertical-align: text-top;
  border: 1px solid #ffffff22;
  background: var(--flag_bg_color);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .8rem;
}

.forth_part {
  width: 14%
}

.CTF {
  position: flex;
  width: 10%;
  margin-left: 25%;
  height: 5%;
  color: var(--text_color);
}

.themeToggle {
  position: flex;
  width: 20%;
  margin-left: 15%;
}